.display {
  font-size:40px;
  padding:20px 10px 20px 10px;
  text-align:right;
  display:block;
  background:#181818;
  color:#FFF;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  padding-left: 120px;
}

.display-branding {
  position: absolute;
  top:5px;
  left:10px
}
